$primary-text: #313131;
$description-text: rgba($primary-text, .7);

$secondary-text: #9D9D9D;

$tab-border: #EDEDED;
$secondary-border: #D8D8D8;

$disabled-back: rgba($primary-text, .5);

$primary-back: #343438;

$white: #FFF;
$field-back: #F7F7F7;

$green: #6EC67A;
$orange: #FFA654;
$checkbox-active: #298A55;
$blue: #0070C9;
$red: #FF3030;

$paled-nav-icon: #7C7B7B;
$home-page-primary-text: #181818;

$home-page-description: #747474;
$home-page-description-icon: #7C7B7B;

$home-page-sub-title: #5C5C5C;

$login-page-border: #D6D6D6;
