@import "src/global-styles/variables";

.wrapper {
  display: flex;
  position: relative;
  height: 48px;
}

.input {
  padding: 13px 51px 13px 16px;
  flex-grow: 1;
  background-color: $field-back;
  border-radius: 12px;
  border: 1px solid transparent;

  &:focus-visible {
    outline: none;
  }

  &:focus {
    border-color: $primary-text;
    outline: none;
  }

}

.icon {
  position: absolute;
  top: 15px;
  right: 16.25px;
}
