@import "/src/global-styles/variables";

.heading {
  margin-top: 29px;
  text-align: center;
}

.description {
  margin-top: 11px;
  margin-bottom: 40px;
}

.smallHeading {
  margin-top: 74px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.seedPhrase {
  margin-top: 21px;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, 80px);
  row-gap: 14px;
  column-gap: 36px;
  @media (max-width: 350px) {
    column-gap: 20px;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
  }
}


.word {
  display: flex;
  align-items: center;
  gap: 8px;
}

.number {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  border-radius: 50%;
  border: 1px solid $primary-text;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  gap: 30px;
}
.input {
  padding: 13px 18px 13px 22px;
  flex-grow: 1;
  background-color: $field-back;
  border-radius: 12px;
  border: 1px solid transparent;

  &:focus-visible {
    outline: none;
  }

  &:focus {
    border-color: $primary-text;
    outline: none;
  }

}